<nav>
    <div class="nav-container">
        <a href="#" class="logo"><img src="logo.jpg" alt="" style="width: 50px;"></a>
        
        <ul class="nav-links">
            <li><a href="/ejemplo-1">EJEMPLO 1</a></li>
            <li><a href="/ejemplo-2">EJEMPLO 2</a></li>
            <li><a href="/ejemplo-3">EJEMPLO 3</a></li>
            <li><a href="/ejemplo-4">EJEMPLO 4</a></li>
            <li><a href="/ejemplo-5">EJEMPLO 5</a></li>
            <li><a href="/examen"> Examen Practico</a></li>


        </ul>

        <button class="hamburger" aria-label="Menú de navegación">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</nav>

<script>
    const hamburger = document.querySelector('.hamburger');
    const navLinks = document.querySelector('.nav-links');

    hamburger.addEventListener('click', () => {
        navLinks.classList.toggle('active');
        hamburger.classList.toggle('active');
    });
</script>
<router-outlet></router-outlet>

